.bg_form {
    background-image: url("../../img/Logo/blockchainicone.png");
    background-size: cover;
    width: 100vw;
    height: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_form {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 7;
}